/* Add CSS Styling */
.btn {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}

.clickme-left {
    background-color: black;
    color: white;
}

.clickme-right {
    background-color: yellow;
}